{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lime</title>
    <link rel="stylesheet" href="{% static 'limeapp/main.css' %}">
  </head>
  <header>
    <nav>
      <ul>
        <div class="header">
          <div class="left-header">
            <h1 id="lime"><a href="{% url 'limeapp-home' %}">LIME</a></h1>
          </div>
          <div class="mid-header">
            <h1><a href="{% url 'limeapp-home' %}">Home</a></h3>
          </div>
          <div class="right-header">
          {% if user.is_authenticated %}
              <h3><a href="{% url 'limeapp-profile' %}">{{ user.username }}</a></h3>
              <form method="post" action="{% url 'logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" style="
                  background: none;
                  border: none;
                  padding: 0;
                  color: inherit;
                  font: inherit;
                  cursor: pointer;
                  text-decoration: underline;
                  ">
                  Logout
                  </button>
              </form>
          {% else %}
              <h1><a href="{% url 'login' %}">Log in</a></h1>
              <h1><a href="{% url 'limeapp-register' %}">Register</a></h1>
          {% endif %}
          </div>
        </div>
      </ul>
    </nav>
  </header>
  <body>
    {% block content %} {% endblock %}
  </body>

  <footer>
    <div class="audio">
      <audio controls>
          <source src="media/songs/song.mp3" type="audio/mpeg">
        </audio>
      </div>
  </footer>
</html>