{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lime</title>
    <link rel="stylesheet" href="{% static 'limeapp/main.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>
  <header>
    <nav>
      <ul>
        <div class="header">
          <div class="left-header">
            <h1 id="lime"><a href="{% url 'limeapp-home' %}" 
              hx-get="{% url 'limeapp-home' %}"
              hx-target="#content"
              hx-push-url="true">LIME</a></h1>
          </div>
          <div class="mid-header">
            <h1><a href="{% url 'limeapp-home' %}"
                          hx-get="{% url 'limeapp-home' %}"
                          hx-target="#content"
                          hx-push-url="true">Home</a></h3>
          </div>
          <div class="right-header">
          {% if user.is_authenticated %}
              <h3><a href="{% url 'limeapp-profile' %}"
                              hx-get="{% url 'limeapp-profile' %}"
                              hx-target="#content"
                              hx-push-url="true">{{ user.username }}</a></h3>
              <form method="post" action="{% url 'logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" style="
                  background: none;
                  border: none;
                  padding: 0;
                  color: inherit;
                  font: inherit;
                  cursor: pointer;
                  text-decoration: underline;
                  ">
                  Logout
                  </button>
              </form>
          {% else %}
              <h1><a href="{% url 'login' %}" id="loginBtn"
                              hx-get="{% url 'login' %}"
                              hx-target="#content"
                              hx-push-url="true">Log in</a></h1>
              <h1><a href="{% url 'register' %}" id="registerBtn"
                              hx-get="{% url 'register' %}"
                              hx-target="#content"
                              hx-push-url="true">Register</a></h1>
          {% endif %}
          </div>
        </div>
      </ul>
    </nav>
  </header>
  <body>
    <div id="content" hx-target="this" hx-swap="innerHTML" hx-push-url="true">
      {% block content %} {% endblock %}
    </div>
  </body>
  <footer>
    <p id="current-artist-display"></p>
    <p id="current-title-display"></p>  <!-- ARTIST AND TITLE TAG, PUT ARTIST ABOVE TITLE,  -->
      <div id="player-bar">
          <audio id="audio-player" controls >
            <source src="" type="audio/mpeg">
          </audio>    
      </div>
  

  <script>
      document.addEventListener('DOMContentLoaded', function () {
        const audioPlayer = document.getElementById('audio-player');
        const source = audioPlayer.querySelector('source');
        const currentArtistDisplay = document.getElementById('current-artist-display');
        const currentTitleDisplay = document.getElementById('current-title-display');

        // We listen for clicks on any element with the class 'play-song' anywhere in the document
        document.body.addEventListener('click', function (event) {
          const target = event.target;

          if (target.classList.contains('play-song')) {
            event.preventDefault();
            const audioSrc = target.dataset.src;
            const artist = target.dataset.artist;
            const title = target.dataset.title;

            if (audioSrc) {
              source.src = audioSrc;
              audioPlayer.load();
              audioPlayer.play();
            }

            currentArtistDisplay.textContent = `${artist}`;
            currentTitleDisplay.textContent = `${title}`;
          }
        });
      });
  
    </script>

  </footer>
</html>