{% extends 'limeapp/base.html' %}
{% load static %}
{% block content %}
<h2>Create your Account</h2>

<div class="registration">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}"> Log in</a></p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:green">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}