{% extends 'limeapp/base.html' %}
{% block content %}
<h2>Log in your Account</h2>

<form method="post">
    {% csrf_token %}
    <!-- Texboxebistvis classnameebi forms.py-shi ari gawerili  -->
    <div class="username-group">
        {{ form.username }}
    </div>

    <div class="password-group">
        {{ form.password }}
    </div>

    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Register</p>
<p><a href="{% url 'password_reset' %}">Forgot Password?</p>


{% if messages %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
{% endif %}
  

{% if form.errors %}
    <p style="color: red">Invalid Username or Password</p>
{% endif %}

{% endblock content %}